#promo{position: fixed; z-index: 5; background-color: $olive; width: 100%; padding: 7px 0; height: 37px;
  p{@extend .f20}
 }

.slicknav_menu{display: none}

#promo + .c1{margin-top: 37px}
.c1{position: fixed; width: 100%; height: 125px; background-color: $dark-grey; z-index: 5;
  #logo{position: absolute; left: 2em; top: 10px}
  nav{position: absolute; width: 600px; left: 0; right: 0; margin: 0 auto; top: 55px; z-index: 2; text-align: center;
    ul{margin:0 auto;
      li{list-style: none; display: inline-block; padding: 0 10px;
        .fa{color: $white; padding-right: 6px}
        a{@extend .f1; padding: 0 3px;
          &:hover{color: $orange}
        }
        a.active{background-color: $white; color: $orange}
        ul{display: none; position: absolute; width: 130px; margin-left: 0; padding-top: 48px;
          li{display: block; text-align: left; background-color: $light-tan; padding: 5px 10px;
            a{@extend .f2; padding: 2px 0; display: block}
          }
          li:last-of-type{padding-bottom: 6px}
        }
        &:hover{
          ul{display: block}
        }
      }
    }
  }
  #cart{position: absolute; top: 10px; right: 2rem;
    a{display: inline; @extend .f16; padding-left: 15px; color: $white; position: relative;
      &:hover{color: $orange}
      .fa{color: $white;
        .cart-indicator{display: block; width: 10px; height: 10px; background-color: $orange; position: absolute; top: 10px; right: 0; border-radius: 25%}
        &:hover{color: $orange}
      }
    }
  }
}

@include breakpoint(medium only){
  .c1{
    #logo{left: .9375rem;
      img{width: 90%}
    }
    nav{left: auto;
      ul{
        li{padding: 0 6px}
      }
    }
  }
};

@include breakpoint(small only){
  .slicknav_menu{display: block;
    .fa{display: none}
  }
  .c1{height: 80px;
    #logo{left: .9375rem;
      img{width: 60%}
    }
    nav{display: none}
    #cart{top: 10px; right: .9375rem;  }
  }
}
