.c11{position: relative; background: $white; padding: 40px 0; margin-top: 125px;
  article{width: 100%; max-width: 650px; margin: 0 auto;
    h1{@extend .f5; margin-bottom: 25px}
    figure{margin: 25px 0 25px 0; display: table; width: 35%;
      img{width: 100%}
      figcaption{@extend .f17; margin-top: 10px; display: table-caption; caption-side: bottom;
        p{
          a{text-decoration: underline}
        }
      }
    }
    figure.float-center{margin: 60px auto 60px auto}
    figure.float-right{margin: 0 0 25px 40px}
    figure.float-left{margin: 0 40px 25px 0}
    figure.float-full{width: 100%}
    h2{@extend .f15; display: inline-block}
    h3{@extend .f4; margin-bottom: 20px}
    p{@extend .f16; padding-bottom: 15px;
      a{font-size: inherit; color: $orange; text-decoration: underline;
        &:hover{color: $black; text-decoration: none}
      }
    }

    a.product{display: block; width: 35%; text-align: center;
      figure{margin: 25px 0 25px 0; display: table; width: 100%; padding: 0 20px;
        img{width: 100%}
        figcaption{@extend .f13; margin-top: 10px; display: table-caption; caption-side: bottom; padding: 0 20px;
          p{
            a{text-decoration: underline}
          }
        }
      }
      button{@extend .f13; color: $tan; cursor: pointer; padding: 7px; background-color: $olive; margin: 0 auto; transition: background-color $transition-time}
      &:hover{
        button{background-color: $white; color: $orange}
      }
    }

    strong{font-weight: 700}
    ul, ol{margin-left: 40px; padding-bottom: 15px;
      li{@extend .f16;
        a{font-size: inherit}
      }
    }
    .videoWrapper{margin-bottom: 40px}
  }

  .categories{margin-top: 60px;
    p{@extend .f17; color: $orange}
  }

  .entry-navigation{margin-top: 40px;
    a{@extend .f17; color: $orange; display: inline-block;
      &:hover{color: $black}
    }
    a.next{float: right}
    a.prev{float: left}
  }
}

@include breakpoint(medium only){
  .c11{
    article{padding-left: .9375rem; padding-right: .9375rem;
      figure{margin: 0 0 25px 0; display: table; width: auto;}
      h2{margin-top: 40px}
    }
  }
}

@include breakpoint(small only){
  .c11{margin-top: 80px;
    article{max-width: none; padding-left: .9375rem; padding-right: .9375rem;
      figure{margin: 0 0 25px 0; display: table; width: 100%}
      figure.float-left{margin-top: 30px; margin-bottom: 30px}
      figure.float-left{float: none !important; margin-left: auto; margin-right: auto}
      figure.float-right{float: none !important; margin-left: auto; margin-right: auto}
      h2{margin-top: 15px;  margin-bottom: 15px}
      a.product{display: block; width: 50%; text-align: center;
        figure{width: 100%; padding: 0 20px;
          figcaption{margin-top: 10px; display: table-caption; caption-side: bottom; padding: 0 20px;
            p{
              a{text-decoration: underline}
            }
          }
        }
      }
    }
    .categories{margin-top: 20px;
      p{color: $orange}
    }
    .entry-navigation{margin-top: 20px}
  }
}
