.c12{background-color: $white; padding-top: 125px + 45px;
  h2{@extend .f5; display: inline-block;}
  p{@extend .f16;}
  article{margin-top: 30px;
    div.column{padding-bottom: 15px; position: relative; border-top: 5px solid $white; transition: border-color $transition-time;
      img{display: block}
      .wrapper{width: 50%; text-align: left; margin: -15px auto 0 auto;
        p{@extend .f6; padding-bottom: 8px;
          span{@extend .f9;}
        }
        img{width: auto; padding-bottom: 10px;}
        p.price{@extend .f7;
          span{color: $orange; @extend .f7;}
        }
        a{@extend .f8; padding: 3px 7px; background-color: $olive;
          &:hover{background-color: $white; color: $orange}
        }
      }

      &:hover{border-color: $orange}
    }
    div.column-block:not(:first-of-type)::after{
      content: "\2b25";
      display: block;
      position: absolute;
      top: 40%;
      left: -3%
    }
    div.column-block:nth-of-type(3n+1)::after{
      content: ""
    }
  }
}

@include breakpoint(small only){
  .c12{padding-top: 80px + 20px;
    article{
      div{
        img:first-of-type{display: inline-block; text-align: center}
      }
      div.column-block::after{
        content: none;
      }
      div.column-block:nth-of-type(1n+1)::after{
        content: ""
      }
    }
  }
};
