<<<<<<< HEAD
.c13{background-color: $white; padding-top: 45px; padding-bottom: 45px;
  h2{@extend .f23; display: inline-block;}
  p{@extend .f16;}
  article{margin-top: 30px;
    div.column{padding-bottom: 15px; position: relative;
=======
.c13{background-color: $white; padding-top: 45px;
  h2{@extend .f23; display: inline-block;}
  p{@extend .f16;}
  article{margin-top: 30px;
    div.column{padding-bottom: 15px; position: relative; border-top: 5px solid $white; transition: border-color $transition-time;
>>>>>>> development
      img{display: block}
      .wrapper{width: 50%; text-align: left; margin: -15px auto 0 auto;
        p{@extend .f6; padding-bottom: 8px;
          span{@extend .f9;}
        }
        img{width: auto; padding-bottom: 10px;}
<<<<<<< HEAD
      }
    }
    div.column-block:not(:first-of-type)::after{
      content: "\2b25";
      display: block;
      position: absolute;
      top: 40%;
      left: -3%
    }
    div.column-block:nth-of-type(3n+1)::after{
      content: ""
    }
=======
        p.price{@extend .f7;
          span{color: $orange; @extend .f7;}
        }
      }
    }
>>>>>>> development
  }
}

@include breakpoint(small only){
<<<<<<< HEAD
  .c13{padding-top: 20px;
    article{ margin-top: 0;
      div{
        img:first-of-type{display: inline-block; text-align: center}
      }
      div.column-block::after{
        content: none;
      }
      div.column-block:nth-of-type(1n+1)::after{
        content: ""
      }
    }
  }
=======
  .c13{padding-top:20px }
>>>>>>> development
};
