.c14{background-color: $white; padding-top: 45px; padding-bottom: 0;
  article{
    p{@extend .f16;}
    h2{background-image: none}
  }
}

@include breakpoint(small only){
  .c14{padding-top: 20px; padding-bottom: 20px; display: inline-block; background-color: $light-tan;
  }
};
