.c2{position: relative; height: 75vh; padding-top: 125px;
  article:nth-of-type(1){height: 100%; @extend .full-background; background-position: center center; position: relative;
    a{position: absolute; bottom: 0; left: 0; @extend .f3; background-color: $olive; padding: 10px; color: $orange;
      .fa{font-size: 2rem; transition: transform $transition-time}
      &:hover{background-color: $white; color: $orange;
        .fa{transform: translateX(5px);}
      }
    }
  }
  article:nth-of-type(3){height: 45%; background-color: $light-tan; @extend .full-background; background-position: center center; text-align: center; position: relative;
    h2{@extend .f19; background-image: none; position: absolute; width: 75%; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); text-shadow: 0px 1px 0px #000000;}
  }
  article:nth-of-type(2){height: 55%; position: relative; padding: 0;
    div.flip-container{perspective: 1000px; height: 100%;
      .flipper{transition: 0.6s; transform-style: preserve-3d;	position: relative; width: 100%; height: 100%;
        .front{backface-visibility: hidden;	position: absolute; top: 0; left: 0; width: 100%; height: 100%; transform: rotateY(0deg); background-color: $white;
          .fa.open{color: $orange; cursor: pointer; position: absolute; top: .9375rem; left: .9375rem; z-index: 5;
            &:hover{color: $black}
          }
          .wrapper{position: absolute; width: 100%; height: 100%; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%);
            img{max-height: 100%}
            a{position: absolute; bottom: 0; left: 0; @extend .f3; background-color: $olive; padding: 10px; color: $orange;
              .fa{font-size: 2rem; transition: transform $transition-time}
              &:hover{background-color: $white; color: $orange;
                .fa{transform: translateX(5px);}
              }
            }
          }
        }
        .back{backface-visibility: hidden;	position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; transform: rotateY(180deg); background-color: $dark-green;
          .fa{color: $orange; cursor: pointer; position: absolute; top: .9375rem; left: .9375rem;
            &:hover{color: $white}
          }
          .wrapper{position: absolute; width: 75%; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%);
            h2{@extend .f10; display: inline-block;}
            p{@extend .f1; margin-top: 10px;
              strong{color: $orange; font-weight: 600}
            }
            #mc_embed_signup{
              form{margin-top: 30px;
                .button{@extend .f11}
                .response{@extend .f1;}
              }
            }
          }
        }
      }
    }
    .flipper.flip{transform: rotateY(180deg);}
  }
}

@include breakpoint(medium only){
  .c2{
    article{
      a{
        .fa{font-size: 1.75rem; }
      }
      .wrapper{
        a{
          .fa{font-size: 1.75rem}
        }
      }
    }
  }
};

@include breakpoint(small only){
  .c2{padding-top: 80px; height: 70vh;
    article:nth-of-type(1){
      a{
        .fa{font-size: 1.5rem; }
      }
    }
    article:nth-of-type(3){height: auto;
      h2{position: static; width: 100%; transform: none; padding: 30px .9375rem;}
    }
    article:nth-of-type(2){height: auto;
      div.flip-container{position: static; height: auto;
        .flipper{height: auto;
          .front{position: static; height: auto; transform: rotate(0);
            .fa.open{display: none;}
            .wrapper{position: static; width: 100%; transform: none; padding: 30px .9375rem;
              a{
                .fa{font-size: 1.5rem}
              }
            }
          }
          .back{transform: rotateY(0); position: static; height: auto;
            .fa{display: none;}
            .wrapper{position: static; width: 100%; transform: none; padding: 30px .9375rem;}
          }
        }

      }
      .flipper.flip{transform: rotateY(0);}
    }
  }
};
