.c3{position: relative; padding: 20px 0; background-color: $white;
  h3{@extend .f22;background-color: #cacaca; margin-bottom: 0; line-height: 1em;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    vertical-align: middle;
    span{@include fontSize(17px);}
  }
}
