.c4{background-color: $white; padding-top: 45px; padding-bottom: 45px;
  h2{@extend .f5; display: inline-block;}
  article{
    div{
      div.owl-item{display: inline-block; width: 33%; padding: 10px 0 20px 0; border-top: 5px solid $white; transition: border-color $transition-time;
        img{display: block}
        .wrapper{width: 50%; text-align: left; margin: -15px auto 0 auto;
          p{@extend .f6; padding-bottom: 8px;
            span{@extend .f9;}
          }
          img{width: auto; padding-bottom: 10px;}
          p.price{@extend .f7;
            span{color: $orange; @extend .f7;}
          }
          a{@extend .f8; padding: 3px 7px; background-color: $olive; color: $white;
            &:hover{background-color: $white; color: $orange}
          }
        }

        &:hover{border-color: $white;}
      }
      div.owl-item::after{
        // content: "\2b25";
        content: "+";
        display: block;
        position: absolute;
        top: 175px;
        left: -3%
      }
    }
    .owl-nav{position: absolute; top: 40%; width: 100%; @extend .f11; font-size: 4rem; color: $orange;
      .owl-prev{position: absolute; left: -35px; background-color: $white; border-radius: 2px; transition: color $transition-time;
        &:hover{
          color: $black
        }
      }
      .owl-next{position: absolute; right: -35px; background-color: $white; border-radius: 2px; transition: color $transition-time;
        &:hover{
          color: $black
        }
      }
    }
  }
}

.c4 + .c4{padding-top: 0; padding-bottom: 20px}

.c2 + .c4{padding-top: 45px}

@include breakpoint(small only){
  .c4{padding-top: 20px; padding-bottom: 5px;
    h2{margin-top: 20px}
    article{
      div{
        div.owl-item::after{
          content: "";
        }
      }
      .owl-nav{
        .owl-prev{left: -20px}
        .owl-next{right: -20px}
      }
    }
  }
};
