.c5{position: relative; @extend .full-background; padding: 35px 0;
  article{background-color: rgba(255,255,255,0.6); padding: 2rem; background-blend-mode: multiply;
    h2{@extend .f5; display: inline-block;}
    p{@extend .f6; margin-top: 10px}
    #mc_embed_signup{
      form{margin-top: 30px;
        .button{@extend .f11}
      }
    }
  }
}
