.c6{position: relative; display: block; width: 100%; background-color: $dark-green;
  article{display: table-cell; width: 50%; vertical-align: middle; height: 100%;
    img{width: 17%};
    h2{@extend .f12; background-image: none}
    p{@extend .f6; margin-top: 10px}
  }
  article:first-of-type{padding: 0 4rem}
  article:nth-of-type(2){background-color: $black}
}

@include breakpoint(medium only){
  .c6{
    article{
      img{width: 23%}
    }
    article:first-of-type{padding: 30px 1rem}
  }
};

@include breakpoint(small only){
  .c6{display: block;
    article{width: 100%; height: auto; display: block;}
    article:first-of-type{padding: 30px 1rem}
  }
};
