.c7{position: relative; padding: 40px 0 10px 0;
  article{
    ul{margin-left: 0;
      li{list-style: none;
        a{@extend .f6;
          &:hover{color: $orange}
        }
        a.green{
          &:hover{color: $green}
        }
        a.blue{
          &:hover{color: $blue}
        }
      }
    }
    h4{@extend .f15; display: inline-block;}
    p{@extend .f6;}
    small{@extend .f6; font-size: 12px;}
    #mc_embed_signup{
      form{margin-top: 30px;
        input[type="text"]{background-color: $tan;}
        input.button{@extend .f11}
      }
    }
  }
  article:last-of-type{text-align: right;
    ul{
      li{display: inline-block; padding-left: 10px}
    }
  }
  div.row{clear: left; margin: 0;
    article:last-of-type{text-align: left; padding: 0 .9375rem;
      small{@extend .f16; font-size: 12px}
    }
  }
}

@include breakpoint(small only){
  .c7{padding: 20px 0 0 0;
    article{
      ul{text-align: center}
    }
    article:first-of-type{padding-bottom: 30px}
    article:last-of-type{padding-top: 30px}
    div.row{clear: left;
      article:last-of-type{text-align: left !important; padding: 0 .9375rem;
        small{text-align: left}
      }
    }
  }

};
