.c8{position: relative; padding: 45px 0; background-color: $white; padding-top: 125px;
  article{
    h2{@extend .f5; margin-bottom: 20px}
    p.meta{@extend .f17;
      span{color: $orange}
    }
    p{@extend .f16; padding-bottom: 20px}
    p:last-of-type{
      a{@extend .f18;
        &:hover{color: $black}
      }
      a.email{font-family: inherit; font-size: 15px}
    }
  }
  article:nth-of-type(1){height: 350px; @extend .full-background; background-position: right center; background-size: cover; }
  article:nth-of-type(2){margin-top: 45px;}
  article:nth-of-type(3){background-color: $dark-grey; padding-top: 10px; padding-bottom: 20px;
    h3{@extend .f19; margin-bottom: 20px}
    ul{margin: 0;
      li{list-style: none;
        a{@extend .f18; display: block; padding: 4px 0;
          &:hover{color: $white}
        }
      }
    }
  }
}

@include breakpoint(medium only){
  .c8{
    article:nth-of-type(1){background-position: center center}
  }
};


@include breakpoint(small only){
  .c8{padding-top: 65px;
    article{
      h2{margin-bottom: 10px}
      p{padding-bottom: 10px}
    }
    article:nth-of-type(1){height: 250px; background-position: center center}
    article:nth-of-type(2){margin-top: 25px}
  }
};
