.c9{position: relative; padding: 0; background-color: $white;
  article{
    div{
      h2{@extend .f5; margin-bottom: 20px}
      p.meta{@extend .f17;
        span{color: $orange}
      }
      p{@extend .f16; padding-bottom: 20px}
      p:last-of-type{
        a{@extend .f18;
          &:hover{color: $black}
        }
      }
    }
  }
}

@include breakpoint(medium only){
  .c9{}
};


@include breakpoint(small only){
  .c9{}
};
