/* Functions and Mixins */

@function calculateRem($size) {
  // Default is 16px, but we're scaling all text
  // down by approx 80%
  $remSize: $size / 16px;
  // $remSize: $size / 20px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin no-vertical-align(){
  position: static;
  -ms-transform: none;
  transform: none;
}

/* Extend/Inheritance */

.full-background{background-size: cover; background-repeat: no-repeat}

/* Animation */

$transition-time: 0.15s;

// Colors
$orange: #E03919;
$dark-red: #5D1F1F;
$light-tan: #EAE8E8;
$tan: #DACC9C;
$light-grey: #EAE8E8;
$olive: #374140;
$dark-green: #2A2C2B;
$dark-grey: #1E1E20;
$green: #6AE368;
$blue: #3b5998;
$white: #ffffff;
$black: #000000;

// Fonts
$voltage: "voltage";
// $gothic: "alternate-gothic-no-1-d";
$gothic: 'open-sans';
$rift: "rift-soft";
// $rift: 'industry';
// $eaves: "mr-eaves-xl-modern";
$eaves: 'open-sans';

$tracking-150: .06em;
$tracking-75: .02em;

.f1{font-family: $rift; @include fontSize(18px); color: $white; font-weight: 600; letter-spacing: $tracking-150; line-height: 1.1em;

}

.f2{font-family: $rift; @include fontSize(17px); color: $black; font-weight: 600; letter-spacing: $tracking-75; line-height: 1.1em;}

.f3{font-family: $rift; @include fontSize(40px); color: $tan; font-weight: 600; letter-spacing:.005em; line-height: 1.1em; text-transform: uppercase;
  @include breakpoint(medium only){
    @include fontSize(30px)
  }
  @include breakpoint(small only){
    @include fontSize(25px)
  }
}

.f4{font-family: $voltage; @include fontSize(27px); color: $black; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em;}

.f5{font-family: $voltage; @include fontSize(40px); color: $black; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em; background-image: url('https://cdn.shopify.com/s/files/1/2154/5167/files/headline-underscore.png?11365364270751392664'); background-repeat: no-repeat; background-position: left bottom; text-transform: none;

  @include breakpoint(small only){
    background-image: none;
    @include fontSize(30px);
  }
}

.f6{font-family: $rift; @include fontSize(20px); color: $black; font-weight: 300; letter-spacing: $tracking-75; line-height: 1.1em;}

.f7{font-family: $gothic; @include fontSize(15px); color: $black; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em;}

.f8{font-family: $rift; @include fontSize(16px); color: $tan; font-weight: 600; letter-spacing: $tracking-75; line-height: 1.1em;}

.f9{font-family: $voltage; @include fontSize(22px); color: $orange; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em;}

.f10{font-family: $voltage; @include fontSize(40px); color: $white; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em; background-image: url('https://cdn.shopify.com/s/files/1/2154/5167/files/headline-underscore-white.png?11365364270751392664'); background-repeat: no-repeat; background-position: left bottom; text-transform: none;

  @include breakpoint(medium only){
    @include fontSize(30px)
  }

  @include breakpoint(small only){
    background-image: none;
    @include fontSize(25px)
  }
}

.f11{font-family: $rift; @include fontSize(30px); color: $tan; font-weight: 600; letter-spacing: $tracking-75; line-height: 1.1em;

  @include breakpoint(medium only){
    @include fontSize(25px)
  }

  @include breakpoint(small only){
    @include fontSize(20px)
  }

}

.f12{font-family: $voltage; @include fontSize(47px); color: $orange; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em;

  @include breakpoint(medium only){
    @include fontSize(35px)
  }

  @include breakpoint(small only){
    @include fontSize(26px)
  }
}

.f13{font-family: $rift; @include fontSize(20px); color: $orange; font-weight: 300; letter-spacing: $tracking-75; line-height: 1.1em;}

.f14{font-family: $rift; @include fontSize(16px); color: $orange; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em;}

.f15{font-family: $voltage; @include fontSize(30px); color: $black; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em;}

.f16{font-family: $eaves; @include fontSize(15px); color: $black; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.3em;

  @include breakpoint(small only){
    @include fontSize(13px);
  };
}

.f17{font-family: $rift; @include fontSize(20px); color: $black; font-weight: 600; letter-spacing: $tracking-75; line-height: 1.1em;}

.f18{font-family: $rift; @include fontSize(20px); color: $orange; font-weight: 600; letter-spacing: $tracking-75; line-height: 1.1em;}

.f19{font-family: $voltage; @include fontSize(45px); color: $orange; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em; background-image: url('https://cdn.shopify.com/s/files/1/2154/5167/files/headline-underscore-orange.png?11365364270751392664'); background-repeat: no-repeat; background-position: left bottom; text-transform: none;

  @include breakpoint(xlarge only){
    @include fontSize(35px);
  };

  @include breakpoint(large only){
    @include fontSize(35px);
  };

  @include breakpoint(medium only){
    @include fontSize(35px);
  };

  @include breakpoint(small only){
    @include fontSize(35px);
  };
}

.f20{font-family: $eaves; @include fontSize(21px); color: $orange; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em;

  @include breakpoint(small only){
    @include fontSize(12px);
  };

}

.f21{font-family: $rift; @include fontSize(22px); color: $black; font-weight: 300; letter-spacing: $tracking-75; line-height: 1.1em;}

.f22{font-family: $rift; @include fontSize(23px); color: $light-tan; font-weight: 600; letter-spacing: $tracking-75; line-height: 1.1em;}

.f23{font-family: $voltage; @include fontSize(40px); color: $orange; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em; background-image: url('https://cdn.shopify.com/s/files/1/2154/5167/files/headline-underscore-orange.png?11365364270751392664'); background-repeat: no-repeat; background-position: left bottom; text-transform: none;

  @include breakpoint(medium only){
    @include fontSize(30px)
  }

  @include breakpoint(small only){
    background-image: none;
    @include fontSize(25px)
  }
}

.f24{font-family: $voltage; @include fontSize(95px); color: $white; font-weight: 400; background-image: none; line-height: .75em;

  @include breakpoint(small only){
    @include fontSize(45px)
  }
}

.f25{font-family: $voltage; @include fontSize(30px); color: $orange; font-weight: 400; letter-spacing: $tracking-75; line-height: 1.1em; background-image: url('https://cdn.shopify.com/s/files/1/2154/5167/files/headline-underscore-orange.png?11365364270751392664'); background-repeat: no-repeat; background-position: left bottom; text-transform: none;

  @include breakpoint(xlarge only){
    @include fontSize(25px);
  };

  @include breakpoint(large only){
    @include fontSize(25px);
  };

  @include breakpoint(medium only){
    @include fontSize(25px);
  };

  @include breakpoint(small only){
    @include fontSize(25px);
  };
}

/* Global */

html{height: 100%; padding: 0; margin: 0; overflow-x: hidden !important;
  body{height: 100%; padding: 0; margin: 0; overflow-x: hidden !important; display: table; width: 100%; table-layout: fixed; background-color: $light-tan}
}

input{@extend .f21; padding: 7px; background-color: $light-grey;}
.button{padding: 3px; background-color: $olive; width: 100%;
  &:hover{background-color: $dark-grey}
}

.page-row {display: table-row; height: 1px;}

.page-row-expanded { height: 100%}

main{width: 100%;
  a:hover{color: inherit; background: none; background-color: none}
  p{margin-bottom: 0}
}

.videoWrapper {position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0; clear: both; margin-top: 40px;
  iframe {position: absolute; top: 0; left: 0; width: 100%;	height: 100%}
}

h1, h2, h3, h4, h5, h6{@extend .f5;}
p, label, li, input[type="text"], select, option{@extend .f16;}
input[type="text"], select {margin: 0}
