
			{% macro getPosition(block) %}
				{%- spaceless %}
					{% set positionedTypes = ['image'] %}
				{% endspaceless -%}
			{% endmacro %}

			{% set nextType = null %}
			{% set nextPosition = null %}

			{% from _self import getPosition %}

			{% for block in entry.blogBody %}

				{% set type = (nextType ?: block.type.handle) %}
				{% set position = (nextPosition ?: getPosition(block)~'') %}

				{% set nextType = (not loop.last ? block.next().type.handle) %}
				{% set nextPosition = (not loop.last ? getPosition(block.next())~'') %}

				{% switch type %}

					{% case 'heading' %}
						<h2>{{ block.text }}</h2>

			    {% case 'text' %}
						 {{ block.text }}

					{% case 'image' %}
						{% set image = block.image.first() %}
						{% if image %}
							<figure class="float-{{block.position}}">
								<img src="{{image.url}}" alt="{{image.title}}">
								{% if block.caption|length %}
									<figcaption>
										{{block.caption}}
									</figcaption>
								{% endif %}
							</figure>
						{% endif %}

          {% case 'shopifyProduct' %}
            {% set shopify = craft.shopify.getProductById({ id: block.product, fields: 'handle,images,title,variants' }) %}
						{% set price = "" %}

						{% for variant in shopify.variants %}
							{% if variant.position == "1" %}
								{% set price = variant.price %}
							{% endif %}
						{% endfor %}

						<a href="https://store.olliemule.com/products/{{ shopify.handle }}" class="product float-{{block.position}}">
							<figure>
								{% for image in shopify.images %}
									{% if image.position == '1' %}
									  <img src="{{ image.src }}" alt="{{  shopify.title }}">
										<figcaption>
											{{ shopify.title }} ${{ price }}
										</figcaption>
									{% endif %}
								{% endfor %}
							</figure>
							<button>Shop ></button>
						</a>

					{% case 'video' %}
						<div class="videoWrapper">
							{{ block.video|raw }}
						</div>

				{% endswitch %}
			{% endfor %}
