{% extends "_layouts/base" %}

{% block main %}
<section class="c8 row">
  <article class="columns small-12 medium-4 large-5" style="background-image: url({{siteUrl}}assets/img/about.jpg)"></article>
  <article class="columns small-12 medium-5 large-5 end">
    <h2>Ollie Mule<sup class="f6">&#8482;</sup></h2>
    <p>Mountain biking is more than just a weekend or seasonal activity around here, it's a way of life. The adrenaline, the people and even the post-ride beers are all part of the culture we're in love with.</p>

    <h2>Pedals &amp; Stoke<sup class="f6">&#8482;</sup> </h2>
    <p>It's more than just our slogan – it sets the tone for the rides, the road trips and everything in between. We wear it and we live it.</p>

    <h2>Values</h2>
    <ul>
      <li>Transparency</li>
      <li>Ownership</li>
      <li>Grit</li>
    </ul>

    <p>–Stu Walsh</p>
  </article>
</section>

{% include '_includes/tag' %}

{% endblock %}
