{% extends "_layouts/base" %}

{% block main %}
<section class="c8 row">
  <article class="columns small-12 medium-4 large-5" style="background-image: url({{siteUrl}}assets/img/contact.png)"></article>
  <article class="columns small-12 medium-5 large-5 end">
    <h2>Reach out</h2>
    <p>Have something to say? Hi, WTH, new music recommendations...? Send 'em here:</p>
    <p>Ollie Mule, LLC<br>
      PO Box 557<br>
      Kuna, ID 83634</p>
    <p>Tel: 208.631.0687</p>
    <p>Email: <a href="mailto:info@olliemule.com" class="email">info@olliemule.com</a></p>
  </article>
</section>

{% include '_includes/tag' %}

{% endblock %}
