<!doctype html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    {% hook 'seomaticRender' %}
    <script src="https://use.typekit.net/jva3xsl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="/css/app.css?ver=1.0.1">
    <script src="https://use.fontawesome.com/eee0163e59.js"></script>
  </head>
  <body>
    {% if promo.promoOn %}
      <section id="promo" class="row expanded text-center">
        <p>{{ promo.promo }}</p>
      </section>
    {% endif %}

    <header class="row expanded c1">
      <article id="logo">
        <a href="/"><img src="{{ siteUrl }}assets/img/logo-01.png" alt="Ollie Mule logo"></a>
      </article>
      <nav>
        <ul id="menu">
          <li><i class="fa fa-home" aria-hidden="true"></i><a href="/" {% if craft.request.firstSegment == "" %}class="active"{% endif %}>trailhead</a></li>
          <li><a href="https://store.olliemule.com">the store</a>
            <ul>
              <li><a href="https://store.olliemule.com/collections/shirts">shirts</a></li>
              <li><a href="https://store.olliemule.com/collections/hats">hats</a></li>
              <li><a href="https://store.olliemule.com/collections/hoodies">hoodies</a></li>
              <li><a href="https://store.olliemule.com/collections/stickers">stickers</a></li>
            </ul>
          </li>
          <!-- <li><a href="#" {% if craft.request.firstSegment == "lifestyle" %}class="active"{% endif %}>the lifestyle</a></li> -->
          <li><a href="/about-us/" {% if craft.request.firstSegment == "about-us" %}class="active"{% endif %}>about us</a></li>
          <!-- <li><a href="/blog/" {% if craft.request.firstSegment == "blog" %}class="active"{% endif %}>blog</a></li> -->
          <li><a href="/contact-us" {% if craft.request.firstSegment == "contact-us" %}class="active"{% endif %}>contact us</a></li>
        </ul>
      </nav>
    </header>
    <!-- Begin block main -->
    <main class="page-row page-row-expanded">
    {% block main %}{% endblock %}
    </main>

    <footer class="c7 row">
      <article class="columns small-12 medium-4">
        <ul>
          <li><a href="https://store.olliemule.com/pages/refund-policy">return policy</a></li>
          <li><a href="https://store.olliemule.com/pages/privacy-policy">privacy policy</a></li>
        </ul>
      </article>
      <article class="columns small-12 medium-4 text-center">
        <h4>News &amp; deals</h4>
        <p>Sign up, <strong>get 15% off</strong> your first order.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="https://olliemule.us16.list-manage.com/subscribe/post?u=255fdbd842418afc8c50033de&amp;id=0927124455" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <input type="email" value="" placeholder="EMAIL" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_255fdbd842418afc8c50033de_0927124455" tabindex="-1" value=""></div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        </div>
        <!--End mc_embed_signup-->
      </article>
      <article class="columns small-12 medium-4">
        <ul>
          <li><a href="https://instagram.com/olliemule_mtb" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
          <li><a href="https://www.facebook.com/pg/olliemulemtb/posts/" target="_blank" class="blue"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UC-XhhkUJsgIFG79J8CgcC6A" target="_blank"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></i></a></li>
          <li><a href="https://open.spotify.com/user/olliemule" target="_blank" class="green"><i class="fa fa-spotify fa-lg" aria-hidden="true"></i></i></a></li>
        </ul>
      </article>
      <div class="row">
        <article class="columns small-12 medium-3 text-left">
          <small class="text-left"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Ollie Mule LLC<br>Ollie Mule and Pedals &amp; Stoke are trademarks of Ollie Mule, LLC. <br>Site by <a href="http://swerveinteractivemedia.com" target="_blank">Swerve Interactive</a></small>
        </article>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/app-min.js?ver=1.0.0"></script>
  </body>
</html>
