{# Set parameters for prev/next elements list #}
{% set params = craft.entries.section('blog').order('postDate desc') %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% extends "_layouts/base" %}

{% block main %}

<section class="row c11">
  <article class="columns small-12 medium-6 small-centered">
    <h1>{{ entry.title }}</h1>
    {% include "_includes/body" %}
  </article>

  <div class="categories">
    <article class="columns small-12 medium-6 small-centered">
      <p>
        {% for category in entry.category %}
          {{ category.title }}{% if not loop.last %},{% endif %}
        {% endfor %}
      </p>
    </article>
  </div>

  <div class="entry-navigation">
    <article class="columns small-12 medium-6 small-centered">
      {% if prevEntry %}<a href="{{ prevEntry.url }}" class="prev">< Prev</a>{% endif %}

      {% if nextEntry %}<a href="{{ nextEntry.url }}" class="next">Next ></a>{% endif %}
    </article>
  </div>
</section>


{% include "_includes/tag" %}

{% endblock %}
