{% extends "_layouts/base" %}

{% block main %}
  {% set entries = craft.entries ({
    section: 'blog',
    with: [
      'blogImage',
      ]
  }) %}

<section class="c8 row">
  {% for entry in entries %}
    {% if loop.first %}
      {% set image = entry.blogImage[0] ?? null %}
      <article class="columns small-12 medium-4 large-5" style="background-image: url({{ image.url }})"></article>
      <article class="columns small-12 medium-5 large-5 end">
        <h2>{{ entry.title }}</h2>
        <p class="meta">{{ entry.postDate | date("M d, Y") }} | <span>
          {% for category in entry.category %}
            {{ category.title }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </span></p>
        <p>{{ entry.snippet }}</p>
        <p><a href="{{ entry.url }}">Read more ></a></p>
      </article>
    {% endif %}
  {% endfor %}
  <article class="columns medium-3 large-2 float-right hide">
    <h3>Topics</h3>
    <ul>
      <li><a href="#">Beer</a></li>
      <li><a href="#">Mountain Biking</a></li>
      <li><a href="#">Lifestyle</a></li>
      <li><a href="#">New Products</a></li>
      <li><a href="#">Training</a></li>
    </ul>
  </article>
</section>

<section class="c9 row">
  <article class="small-12 medium-12 large-12 small-up-1 medium-up-2 large-up-3">
    {% for entry in entries %}
      {% if not loop.first %}
        <div class="column column-block">
          <h2>{{ entry.title }}</h2>
          <p class="meta">{{ entry.postDate | date("M d, Y") }} | <span>
            {% for category in entry.category %}
              {{ category.title }}{% if not loop.last %},{% endif %}
            {% endfor %}</span</p>
          <p>{{ entry.snippet }}</p>
          <p><a href="{{ entry.url }}">Read more ></a></p>
        </div>
      {% endif %}
    {% endfor %}
  </article>
</section>

{% include "_includes/tag" %}

{% endblock %}
