{% extends "_layouts/base" %}

{% block main %}

<section class="c2 row expanded">
  {% set hero = entry.hero.first() %}
  <article class="columns small-12 medium-7 large-8" style="background-image: url({{ hero.url }})">
    {% if entry.heroLink %}
      {% set product = craft.shopify.getProductById({ id: entry.heroLink, fields: 'variants, title, handle' }) %}
      {% set price = '' %}
      {% for variant in product.variants %}
          {% set price = variant.price %}
      {% endfor %}

      <a href="https://store.olliemule.com/products/{{ product.handle }}">{{ product.title }} ${{ price }} <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    {% endif %}
  </article>
  <article class="columns small-12 medium-5 large-4 text-center">
    <div class="flip-container">
      <div class="flipper">
        <div class="front">

          <i class="fa fa-arrow-circle-left fa-2x open" id="open-newsletter" aria-hidden="true"></i>
          <div class="wrapper">
            {% set product = craft.shopify.getProductById({ id: entry.featured, fields: 'variants, title, handle' }) %}
            {% set shopify = craft.shopify.getProductImage({ id: entry.featured }) %}
            {% set price = '' %}
            {% for variant in product.variants %}
                {% set price = variant.price %}
            {% endfor %}
            {% for image in shopify %}
              {% if loop.first %}
                <img src="{{ image.src }}">
              {% endif %}
            {% endfor %}
            <a href="https://store.olliemule.com/products/{{ product.handle }}">{{ product.title }} ${{ price }} <i class="fa fa-chevron-right" aria-hidden="true"></i></a>

            <!-- end wrapper -->
          </div>
        </div>
        <div class="back">
          <i class="fa fa-arrow-circle-right fa-2x .close" id="close-newsletter" aria-hidden="true"></i>
          <div class="wrapper">

            <h2>News &amp; deals</h2>
            <p>Sign up, <strong>get 15% off</strong> your first order.</p>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup" class="row">
              <form action="https://olliemule.us16.list-manage.com/subscribe/post?u=255fdbd842418afc8c50033de&amp;id=0927124455" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate small-8 small-centered" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <div class="mc-field-group">
                    <input type="email" value="" placeholder="EMAIL" name="EMAIL" class="required email" id="mce-EMAIL">
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -15000px;" aria-hidden="true"><input type="text" name="b_255fdbd842418afc8c50033de_0927124455" tabindex="-1" value=""></div>
                  <div class="clear">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                </div>
              </form>
              <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
              <!-- End MailChimp Signup Form -->
            </div>

            <!-- end wrapper -->
          </div>
        </div>
      </div>
    </div>
  </article>
  {% set secondary = entry.secondaryImage.first() %}
  <article class="columns small-12 medium-5 large-4" style="background-image: url({{ secondary.url }})"></article>
</section>

<section class="c14 row text-center">
  <article class="columns small-12 medium-8 small-centered">
    <h2>
      {{ entry.about|nl2br|raw }}
    </h2>
    <p>Mountain biking inspired t-shirts, hats and hoodies. Wear it, live it.</p>
  </article>
</section>

<section class="c4 row text-center">
  <h2>Shirts</h2>
  <article class="columns small-11 small-centered">
    <div class="owl-carousel">
      {% for entry in craft.entries.section('shirts').limit(10) %}
      <div>
        <img src="{{ entry.productImage }}" alt="{{ entry.title }}">
        <div class="wrapper">
          <p>{% if entry.new %}<span>New </span>{% endif %} {{ entry.title }}</p>
          {% if entry.madeInAmerica %}
            <img src="{{ siteUrl }}assets/img/us-flag-01.png" alt="made in the U.S.A." title="Made in the U.S.A.">
          {% endif %}
          {% if entry.productSalePrice %}
            <p class="price">${{ entry.productSalePrice }} | <s>${{ entry.productPrice }}</s></p>
          {% else %}
            <p class="price">${{ entry.productPrice }}</p>
          {% endif %}
          <a href="https://store.olliemule.com/products/{{ entry.slug }}">shop ></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>
</section>

<section class="c4 row text-center">
  <h2>Hats</h2>
  <article class="columns small-11 small-centered">
    <div class="owl-carousel">
      {% for entry in craft.entries.section('hats').limit(10) %}
      <div>
        <img src="{{ entry.productImage }}" alt="{{ entry.title }}">
        <div class="wrapper">
          <p>{% if entry.new %}<span>New </span>{% endif %} {{ entry.title }}</p>
          {% if entry.madeInAmerica %}
            <img src="{{ siteUrl }}assets/img/us-flag-01.png" alt="made in the U.S.A." title="Made in the U.S.A.">
          {% endif %}
          {% if entry.productSalePrice %}
            <p class="price">${{ entry.productSalePrice }} | <s>${{ entry.productPrice }}</s></p>
          {% else %}
            <p class="price">${{ entry.productPrice }}</p>
          {% endif %}
          <a href="https://store.olliemule.com/products/{{ entry.slug }}">shop ></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>
</section>

<section class="c4 row text-center">
  <h2>Hoodies</h2>
  <article class="columns small-11 small-centered">
    <div class="owl-carousel">
      {% for entry in craft.entries.section('hoodies').limit(10) %}
      <div>
        <img src="{{ entry.productImage }}" alt="{{ entry.title }}">
        <div class="wrapper">
          <p>{% if entry.new %}<span>New </span>{% endif %} {{ entry.title }}</p>
          {% if entry.madeInAmerica %}
            <img src="{{ siteUrl }}assets/img/us-flag-01.png" alt="made in the U.S.A." title="Made in the U.S.A.">
          {% endif %}
          {% if entry.productSalePrice %}
            <p class="price">${{ entry.productSalePrice }} | <s>${{ entry.productPrice }}</s></p>
          {% else %}
            <p class="price">${{ entry.productPrice }}</p>
          {% endif %}
          <a href="https://store.olliemule.com/products/{{ entry.slug }}">shop ></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>
</section>

<section class="c15 row collapse">
  <article class="columns small-12 medium-12">
    <img src="/assets/img/p-s-table.jpg" alt="Pedals & Stoke tshirt">
  </article>
  <!-- <article class="columns small-12 medium-3">
    <img src="/assets/img/p-s-sticker.jpg" alt="Pedals & Stoke tshirt">
  </article> -->
</section>

<section class="c15 row collapse">
  <article class="columns small-12 medium-6">
    <img src="/assets/img/race-day-shop-home.jpg" alt="Ollie Mule Race Day Hoodie">
  </article>
  <article class="columns small-12 medium-6">
    <img src="/assets/img/huck-cranberry-pose.jpg" alt="Huck It Cranberry tshirt">
  </article>
</section>

{% if entry.comingSoon|length %}
<section class="c13 row text-center">
  <article class="columns small-12">
    <h2>Coming Soon</h2>
  </article>
  {% for block in entry.comingSoon %}
  <article class="small-12 medium-6 columns {% if entry.comingSoon|length == '1' %}small-centered{% endif %}">
      {% set image = block.productImage.first() %}
      <div class="column">
        <img src="{{ image.url }}" alt="{{ image.title }}">
        <div class="wrapper">
          <p>{{ block.productName }}</p>
        </div>
      </div>
  </article>
  {% endfor %}
</section>
{% endif %}

<section class="c5 row hide-for-small-only" style="background-image: url(../assets/img/c5-background-01.jpg)">
  <article class="columns small-11 medium-4 small-centered text-center">
    <h2>News &amp; deals</h2>
    <p>Sign up, <strong>get 15% off</strong> your first order.</p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="https://olliemule.us16.list-manage.com/subscribe/post?u=255fdbd842418afc8c50033de&amp;id=0927124455" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
          <input type="email" value="" placeholder="EMAIL" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_255fdbd842418afc8c50033de_0927124455" tabindex="-1" value=""></div>
        <div class="clear">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
      </div>
    </form>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
    <!--End mc_embed_signup-->
  </article>
</section>

<section class="c6 row">
  <article class="text-center">
    <div>
      <img src="/assets/img/headphones.png" alt="headphones">
      <h2>Tunes to fuel your good times.</h2>
    </div>
  </article>
  <article>
    <iframe src="https://open.spotify.com/embed/user/olliemule/playlist/4aCAqAzdbAKhCE9Hn3jiCH" width="100%" height="400" frameborder="0" allowtransparency="true"></iframe>
  </article>
</section>
{% include "_includes/tag" %}

{% endblock %}
